<div class="row">
  <div class="col-12 col-md-8 w-50">
    <h2>Register</h2>
    <form (ngSubmit)="onRegisterSubmit()">
      <div role="alert" *ngIf="formError" class="alert alert-danger">
        {{ formError }}
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          placeholder="Enter Name"
          class="form-control"
          autocomplete="name"
          [(ngModel)]="credentials.name"
        />
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          name="email"
          autocomplete="email"
          placeholder="Enter email address"
          class="form-control"
          [(ngModel)]="credentials.email"
        />
      </div>
      <div class="form-group mt-2">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          autocomplete="password"
          placeholder="e.g 12+ alphanumerics"
          [(ngModel)]="credentials.password"
        />
      </div>
      <button
        type="submit"
        [disabled]="newAdminAdded || !isAdmin"
        role="button"
        class="btn btn-primary mt-2"
      >
        Register!
      </button>
    </form>
    <div>
      <div *ngIf="!isAdmin" class="alert alert-danger mt-2" role="alert">
        Only Admins can add New Admins!
      </div>
      <div *ngIf="newAdminAdded" class="alert alert-success mt-2" role="alert">
        New Admin Added!
      </div>
    </div>
  </div>
</div>
