<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="/assets/images/logo.png" /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" routerLink=""><h2>Trips <span class="sr-only h6" *ngIf="isLoggedIn()">(current)</span></h2></a
      >
    </div>
  </div>
  <div class="navbar-end ">
    <button class="nav-item btn btn-primary me-2" routerLink="login" *ngIf="!isLoggedIn()">Login</button>
    <button class="nav-item btn btn-info me-1" routerLink="register" *ngIf="isLoggedIn()">Add New Admin</button>
    <button class="nav-item btn btn-primary me-2" (click)="onLogout()" *ngIf="isLoggedIn()">Logout</button>
  </div>
</nav>
