<div class="row">
  <div class="col-12 col-md-8 w-25">
    <h2>Login</h2>
    <form (ngSubmit)="onLoginSubmit()">
      <div role="alert" *ngIf="formError" class="alert alert-danger">
        {{ formError }}
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          placeholder="Enter Name"
          class="form-control"
          autocomplete="name"
          [(ngModel)]="credentials.name"
        />
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          name="email"
          autocomplete="email"
          placeholder="Enter email address"
          class="form-control"
          [(ngModel)]="credentials.email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          autocomplete="password"
          placeholder="e.g 12+ alphanumerics"
          [(ngModel)]="credentials.password"
        />
      </div>
      <button type="submit" [disabled]="isLoading" role="button" class="btn btn-primary">
        Sign In!
      </button>
    </form>
    <div *ngIf="isLoading">
      Logging in, please wait...
    </div>
  </div>
</div>
